$header__boxshadow: 0 0.2rem 0.2rem rgb(208, 208, 207);
$header__textItemHover: #5a585f;
$header__winkelwagenHover: #2f24d0;
$header__buttonBorder: 0.1rem solid #000000;

$banner__boxshadow: rgba(0, 0, 0, 0.1) 0rem 0.4rem 0.6rem -0.1rem, rgba(0, 0, 0, 0.06) 0rem 0.2rem 0.4rem -0.1rem;
$banner__textboxshadow: rgba(0, 0, 0, 0.24) 0px 0.3rem 0.8rem;

$info__gameNaam: #808080;
$info__gameboxborder: 1px solid #bcc3c8;
$info__button: 0.2rem solid #1A1A1A;
$info__buttonhover: #1A1A1A;

$wrapper__color: #f3f8fb;
$wrapper__itemcolor: #1c1d1f;
$wrapper__iconcolor: #d7e1e8;

$cards__gamecardboxshadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.3);
$cards__buttonborder:  0.2rem solid #000000b5;
$cards__background: linear-gradient(#ffffff, #f3f8fb);
$cards__iconboxshadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;
$cards__rating: #e59819;
$cards__info: 0.1rem solid #1a1a1a28;

$categories__background: #f4f4f4;
$categories__a: #7300ff;
$categories__p: #6a6f73;
$categories__button: 0.1rem solid #000000;

$business__boxshadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.3);

$footer__border: 1px solid #3e4143;
$footer__background: #000;